<!DOCTYPE html>
<html>
<head lang="ko">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="SuperCrown">
  <meta name="description" content="반응형 사이트 만들기 튜토리얼 입니다.">

  <!-- HTML5shiv -->
  <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

  <!-- IE checker -->
  <script src="/javascripts/ie-checker-min.js"></script>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main/main.css">
    <link rel="stylesheet" href="/stylesheets/contestView/transfer.css">
</head>
<body>
<div id="wrap">
    <!-- ======  Nav section start  ====== -->
    <% include ../partials/nav.ejs %>
    <!-- ======  Nav section end  ====== -->
    <div id="all-wrap">
        <%if(contest.firstWin == null){%>
          <div class="main-container">
            <div class="noWin">아직 우승작이 선정되지 않았습니다.</div>
          </div>  
        <%}else{%>
          <div class="main-container">
            <p>우승 디자인</p>
              <div class="box1">
                <div class="left-section">
                  <img src="/uploads/<%=parti[0].thumnailImage%>" class="firstW"/>
                  <div class="left-bottom">
                    <div><span><b>디자이너</b> : <%=parti[0].author%>님</span><span style="float:right">우승작</span></div>
                  </div>
                </div>
                <div class="right-section">
                  <div class="phrase-section">
                    <input type="text" value="<%=contest.contestType%>" class="contestType" hidden/> 
                    <div><span class="typeTxt"></span> 디자인의뢰</div>
                    <div>디자인 콘테스트 우승작이 선정되었습니다.</div>
                  </div>  
                  <div class="box-section">
                    <div class="left-box">
                      <div>콘테스트가 성공적으로 마무리 되었습니다.</div>
                      <div>총 <%=contest.parti_id.length%>개의 시안이 등록되었으며,</div>
                      <div>그 중 <b style="color:red; background:yellow"><%=parti[0].author%></b>님의 작품이 1등으로 선정되었습니다.</div>
                      <div>콘테스트에 참여해주셔서 감사합니다.</div>
                      <%if(parti2[0] != null){%>
                      <div class="subAward">
                        부상 내용 :
                        <%if(parti2[0] != null){%>
                          <%=parti2[0].author%>님께서 2등에
                        <%};%>
                        <%if(parti3[0] != null){%>
                          <span style="margin:0 0 0 -5px; padding:0;">,</span> <%=parti3[0].author%>님께서 3등에 
                        <%};%>
                        선정되셨습니다.
                      </div>
                      <%}%>
                    </div>
                    <div class="right-box">
                      <div class="contain1">
                        <div class="contain1-box1">
                          <div class="contain1-box1-1st">상금</div>
                          <div class="contain1-box1-2st">참여자</div>
                          <div class="contain1-box1-3st">기간</div>
                        </div>
                        <div class="contain1-box2">
                          <div class="contain1-box2-1st">
                            <div><b><input type="text" class="result" value=""disabled></input></b></div>
                          </div>
                          <input type="text" class="award" value="<%=contest.award1%>" hidden/>
                          <div class="contain1-box2-2st"><b><%=contest.parti_id.length%>명</b></div>
                          <div class="contain1-box2-3st"><b>5일</b></div>
                        </div>
                      </div>
                      <div class="contain2">
                        <div><span><b>의뢰자</b></span><span style="float:right"><%=contest.author%></span></div>
                      </div>
                      <div class="contain3">
                        <div class="left-contain">
                          <a herf="#">이용방법 알아보기</a>
                        </div>
                        <div class="right-contain">
                          <a herf="#">콘테스트 개최하기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box-section -->

              <!-- second-section -->
              <div class="second-section">
                <div class="btn-section">
                  <a href="/contest/view/<%=contest.id%>" class="btn-1">참여작 보기</a>
                  <a href="/contest/view/brief/<%=contest.id%>" class="btn-2">브리핑 보기</a>
                  <a href="/contest/transfer/<%=contest.id%>" class="btn-3">우승작 전송</a>
                </div>
              </div>
              <!-- //second-section -->

              <!--third-section-->
              <p><b>우승작</b></p>
              <div class="third-mainCon">
                <div class="third-left">
                  <%if(contest.firstWin != null && contest.firstWin){%>
                    <img src="/uploads/<%=parti[0].thumnailImage%>" class="firstW2"/>
                  <%}%>
                </div>

                <div class="third-right">
                  <div class="thirdBox1">
                    <img src="/images/contestView/client_img_2.png"/>
                  </div>
                  <div class="thirdBox2">
                    <div class="chatRow">
                      <form action="" method="post" id="sendForm">
                        <div class="files-box">
                          <div class="files-select">
                            <p style="width:100%;">파일을 전송하시겠습니까?</p>
                            <div class="btn-section">
                              <button type="button" class="btn-yes">예</button>
                              <button type="button" class="btn-no">아니요</button>
                            </div>  
                          </div>
                        </div>
                        <div class="chatRow-box1">
                          <div class="box1-1">
                            <div>저작권 양도에 관한 아래의 내용을</div>
                            <div style="margin-top:10px;">반드시 숙지한 후 파일을 주고 받아주세요</div>
                            <div class="subPanel">
                              <저작권에 관한 사항>
                              1. 의뢰자(고객)와 참여자(디자이너)는 ‘약관부록’ 중 ‘8.지적재산권’에 관한 아래의 내용에 관하여 반드시 숙지한 후 그에 관한 동의여부를 결정하여 주시기 바랍니다.

                              1) 참여자는 제3자의 저작권 등을 침해해서는 안되며, 만일 이를 위반하여 의뢰자 또는 제3자에게 손해를 끼칠 경우에는 민•형사상의 모든 책임을 지게 됩니다. 이는 콘테스트가 종료되어 이미 우승작으로 선정된 경우에도 해당되는 것으로 저작권 침해 또는 이와 관련된 문제 발생 시 선정 후에라도 취소가 가능하며, 이런 경우 회사는 우승작으로 선정된 참여자에게 지급한 상금을 회수할 수 있습니다.

                              2) 모든 콘테스트에 등록되는 참여자의 중간인도물, 사전작업물, 최종인도물의 개별구성요소에 대한 지적재산권은 참여자에게 귀속되며, 참여자의 허락 없이 사용할 수 없습니다.

                              3) 참여자와 의뢰자 간의 지적재산권 양도 동의가 이루어진 우승작에 대한 지적재산권은 의뢰자에게 양도되며, 지적재산권의 등록에 소요되는 비용은 의뢰자가 부담합니다.

                              4) 양도 후 우승작은 의뢰자의 소유이며, 콘테스트가 종료된 이후 참여자의 승인 없이 사용할 수 있습니다.

                              5) 콘테스트에 우승한 참여자와 그 우승작을 선정한 의뢰자는, 온라인 및 오프라인상에서 라우드소싱이 해당 우승작을 홍보를 위한 수단으로 로열티 없이 자유롭고 지속적으로 사용하는 것을 승인합니다.

                              6) 우승작은 라우드소싱의 홍보를 목적으로 타 온라인 사이트 및 오프라인 등을 통해 복사, 배포, 2차 저작물 제작 및 공개될 수 있습니다.

                              7) 라우드소싱은 디자인 및 아이디어의 침해와 관련된 그 어떤 요구나 청구에 대하여 중재자 또는 조정자로 참여하지 않습니다.

                              8) 라우드소싱은 의뢰자 또는 참여자가 저지른 지적재산권 관련 침해, 위반 등에 법적인 책임을 지지 않습니다.

                              9) 라우드소싱은 홈페이지 상에서 제3자의 지적재산권을 침해한 것으로 판단되거나 침해 가능성이 존재하는 그 어떠한 콘텐츠를 자체적으로 삭제할 수 있습니다.

                              2. 의뢰자와 참여자는 추후 우승작이 선정되어 우승작에 관한 원본파일 전송 시 아래의 사항이 포함된 저작권 양도계약을 체결하여야 하는바, 아래의 사항을 반드시 숙지한 후 그에 관한 동의여부를 결정하여 주시기 바랍니다.

                              1) 저작재산권의 양도
                              우승작으로 선정된 참여자는 위 저작물에 대한 추가•변형권 등 2차적 저작물 작성권을 포함하는 일체의 저작재산권과 위 저작물을 원저작물로 하는 2차적 저작물(현존하는 모든 형태의 매체 및 장래의 새로운 매체에 의한 이용 등 모든 형태의 2차적 저작물을 의미함) 또는 위 저작물을 구성 부분으로 하는 편집 저작물을 작성하여 이용할 권리 전부를 영구적으로 의뢰자에게 양도합니다.

                              2) 저작재산권의 (이전)등록
                              우승작으로 선정된 참여자는 위 저작물에 대하여 저작재산권 (이전)등록을 할 수 있으며, 우승작으로 선정된 참여자는 (이전)등록에 필요한 서류 등을 의뢰자에게 제공하는 등 이에 지체 없이 협력하여야 합니다.

                              3) 배타적 이용
                              우승작으로 선정된 참여자는 위 저작물의 전부 또는 일부와 동일 또는 유사한 저작물을 제3자에게 이용하게 하거나 설정계약 등을 해서는 안됩니다.

                              4) 저작재산권의 권리 변동 사항
                              우승작으로 선정된 참여자는 본 계약 이전에 위 저작물에 대하여 제3자에게 질권을 설정하였거나 위 저작물에 관한 창작 작업을 제3자와 공유한 사실이 없고, 저작재산권의 일부 또는 전부를 양도하였거나 이용허락을 한 사실이 있어서는 안됩니다.

                              5) 저작재산권 양도대금
                              ① 의뢰자는 우승작으로 선정된 참여자에게 위 1)항에 의하여 위 저작물의 저작재산권 전부를 양도하는 대가로 상금을 지급합니다.
                              ② 위 제1항의 양도대금은 라우드소싱이 의뢰자로부터 지급받아, 그 양도대금에서 원천징수 소득세(3.3%), 라우드소싱 서비스 운영에 대한 수수료(16.7%) 및 참여보상(10%)를 공제한 후, 그 나머지를 우승작으로 선정된 참여자에게 지급합니다.

                              6) 성명표시권
                              우승작으로 선정된 참여자는 의뢰인이 위 저작물을 공표하거나 위 1)항에서 규정하고 있는 위 저작물에 대한 2차적 저작물 내지 편집저작물을 공표하는 경우, 위 저작물 또는 2차적 저작물 내지 편집저작물의 저자로 우승작으로 선정된 참여자를 표시합니다. 다만, 저작물의 성질이나 그 이용의 목적 및 형태 등에 비추어 부득이하거나 저작물을 로고로 사용하는 등 통상적으로 저자를 표시하지 않는 경우라고 인정되는 때에는 그 저자표시를 생략할 수 있습니다.

                              7) 계약의 해석 및 보완
                              ① 본 계약서에 명시되어 있지 아니 하거나 해석상 이견이 있을 경우에는 저작권법, 민법 등을 준용하고 사회 통념과 조리에 맞게 해결합니다.
                              ② 각 항을 위반하거나 협력의무를 불이행한 경우에 발생한 분쟁 및 손해에 관해 의뢰자나 참여자는 관련법령에 의거하여 배상의 책임을 질 수 있습니다.</div>
                            </div>
                            <ul id="chatBody">
                              <%if(chatLog != null && chatLog.length > 0){%>
                              <%chatLog.forEach(function(chat, i){%>
                                <%if(chat.author == users.name){%>
                                  <%if(chat.msg){%>
                                    <li class="li2"><div class="right-message"><%=chat.msg%></div></li>
                                  <%}%>
                                  <%if(chat.imgs){%>
                                    <li class="li2"><div class="right-message"><img src="/uploads/<%=chat.imgs%>" style="max-width : 180px; max-height:200px;"/></div></li>
                                  <%}%>
                                <%}else{%>
                                  <%if(chat.msg){%>
                                    <li class="li2"><div class="left-message"><%=chat.msg%></div></li>
                                  <%}%>
                                  <%if(chat.imgs){%>
                                    <li class="li2"><div class="left-message"><img src="/uploads/<%=chat.imgs%>" style="max-width : 180px; max-height:200px;"/></div></li>
                                  <%}%>                           
                                <%}%>                    
                              <%});%>
                              <%}%>
                            </ul>
                        </div>
                        <div class="chatRow-box2">
                          <div class="btn-mesaage">
                            메세지
                            
                          </div>
                          <%if(contest.end == false && users.job == 'client'){%>
                            <div class="btn-end">
                            콘테스트 종료하기
                            </div>
                          <%}else if(contest.end == true){%>
                            <div class="contest-end">
                            이미 종료된 콘테스트입니다!
                            </div>
                          <%}else{%>
                            <div class="contest-end">
                            우승을 축하드립니다.
                            </div>
                          <%}%>
                            <div class="btn-cct">
                            보낸 이미지 전송 횟수: 
                            <input type="text" class="imageCnt" style="width:20px;"value="<%=contest.imageCount%>" disabled/>
                          </div>
                        </div>                   
                        <div class="chatRow-box3">
                          <input type="text" name="message" class="form-control" style="display:none;" placeholder="대화내용을 입력해주세요." hidden/>
                          <textarea class="messageArea" placeholder="내용을 입력해주세요"></textarea>
                        </div>
                        <div class="chatRow-box4">
                          <%if(contest.end == false){%>
                          <div class="fileSubmit">
                            <label for="uploadbutton">파일 업로드</label> 
                            <input type="file" id="uploadbutton" name="uploadfile"/>
                          </div>
                          <div class="messageSubmit">
                            <button class="message-btn">보내기</button>
                          </div>
                          <%}%>
                        </div>
                        <input type="hidden" class="userName" value="<%=users.name%>" hidden />
                        <input type="text" class="conId" value="<%=contest.id%>" hidden/>
                        <input type="text" class="orgImageCnt" value="<%=contest.imageCount%>" hidden/>
                        <input type="text" id="newImageCnt" name="newImageCnt" class="newImageCnt" value="" hidden/>
                        <input type="hidden" class="firstWin" value="<%=contest.firstWin%>" hidden/>

                        <input type="text" class="winner1" value="<%=parti[0].author%>" hidden/>
                        <input type="text" class="award1" value="<%=contest.award1%>" hidden/>

                        <%if(contest.award2 != 0 && contest.award2){%>
                          <input type="text" class="winner2" value="<%=parti2[0].author%>" hidden />
                          <input type="text" class="award2" value="<%=contest.award2%>" hidden/>
                        <%}%>
                        <%if(contest.award3 != 0 && contest.award3){%>
                          <input type="text" class="winner3" value="<%=parti3[0].author%>" hidden/>
                          <input type="text" class="award3" value="<%=contest.award3%>" hidden/>
                        <%}%>
                      </form>
                    </div>
                  </div>
                  <!--box2-->
                </div>
                <!--right-->
              </div>
              <!-- //third-mainCon-->
          </div>
          <!-- main-contain -->
          
        <%};%>
      </div>
</div>
<!-- ======  Wrap section end  ====== -->

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/nav.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script>
      

      (function(){
        $(document).ready(function(){
          var award = $('.award').val();
          if(award.length == 7){
          var result ="1등: "+award.slice(0 , 3) + "만원";
          $('.result').val(result);
          } else {
            var result ="1등: "+award.slice(0 , 2) + "만원";
            $('.result').val(result);
          };
        });
      })();

      (function(){
        $(document).ready(function(){
          let Type = $('.contestType').val();
          let result = Type.toUpperCase();
          var x = document.getElementsByClassName('typeTxt');
          x[0].innerHTML = result;
        });
      })();


      (function(){
        var socket = io(); 
        var firstWin = $('.firstWin').val();

        socket.on(firstWin+'message', function(data){ //서버에서 보낸 sever message 에 접속한다.
          var userName =$('.userName').val();
          let exFiles = $("input[name=uploadfile]")[0].files[0];
            if(data.imageData == null && data.displayname == userName){
              var newdiv = '';
              if(data.message.length == 0 && exFiles == null){
                alert('메세지를 입력해주세요');
                return false;
              } else if(data.message.length != 0){
                var msg = data.message
                newdiv += '<li class="li2"><div class="right-message">'+ data.message +'</div></li>'
                msgLog(msg);
              };
    
            } else if(data.imageData == null && data.message){
              var newdiv = '';
              newdiv += '<li class="li2"><div class="left-message">'+data.message+'</div></li>'
            };

            $('#chatBody').append(newdiv);
            var offset = $(".li2:last-child").offset();
            if(offset){
            $('.chatRow-box1').animate({scrollTop : offset.top}, 400);
            };
        });

        socket.on(firstWin+'message', function(data){
          var newdivs = '';
          var userName =$('.userName').val();

          if(data.imageData != null){      
            var imgs = data.imageData.result;
            if(data.displayname == userName){
              newdivs += '<li class="li2">'
              newdivs += '<div class="right-message">'
              newdivs += '<img src="/uploads/'+ data.imageData.result+'" style="max-width : 180px; max-height:200px;"/>'
              newdivs += '</div>'
              newdivs += '</li>'
              imgsLog(imgs)
            } else {
              newdivs += '<li class="li2">'
              newdivs += '<div class="left-message">'
              newdivs += '<img src="/uploads/'+ data.imageData.result+'" style="max-width : 180px; max-height:200px;"/>'
              newdivs += '</div>'
              newdivs += '</li>'
            }

            $('#chatBody').one().append(newdivs);

            var offset = $(".li2:last-child").offset();
            $('.chatRow-box1').animate({scrollTop : offset.top}, 400);
          };
        });



         $(document).ready(function() {  //
            $('#sendForm').submit(function(){  //전송을 하면 

                var firstWin = $('.firstWin').val();

                var $subMassage = $('.messageArea').val(); //메세지의 value;값이  subMassge로 되고

                $('#sendForm input[name=message]').val($subMassage);

                var $massage = $('#sendForm input[name=message]'); //이러한 값이 메시지 값이 되고 
                
                var input = {
                  firstWin : firstWin
                }
                socket.emit('client message', { message : $massage.val(), input:input});  //client message에 message: $message.val()값으로 전송한다. 
                $('.messageArea').val('');
                return false;
            });

            $('#uploadbutton').on('change', function(){
              var firstWin = $('.firstWin').val();
              let exFiles = $("input[name=uploadfile]")[0].files[0];
              
              if(exFiles != undefined){
              $('.files-box').addClass('file-show');
              $('.btn-yes').one('click', function(){
                var conId = $('.conId').val();
                var orgImageCnt = $('.orgImageCnt').val();
                var formData = new FormData();
                formData.append("uploadfile", $("input[name=uploadfile]")[0].files[0]);
                if(orgImageCnt < 3){
                  $.ajax({
                    url: '/contest/transfer/ajax_images/'+ conId,
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    success: function (result) {
                      if (result.message = "파일이 업로드 되었습니다."){
                        var input = {
                          result : result.DBData.saveFileName,
                          firstWin : firstWin,
                          exFiles : exFiles
                        };

                        socket.emit('image message', {input : input});

                        alert('파일이 업로드 되었습니다.');
                        $("input[name=uploadfile]")[0].files[0] = null;

                      $('.files-box').removeClass('file-show');

                      newImageCnt = Number(orgImageCnt) + 1;

                      $('.newImageCnt').val(newImageCnt);
                      $('.orgImageCnt').val(newImageCnt);
                      var imageCnt = $('.imageCnt').val(newImageCnt);
                      }
                    },
                    error: function (request, status, error){
                      console.log(error);
                      if (request.message = "File too large") {
                        alert("파일이 2mb를 초과하셨습니다.");
                        $('.files-box').removeClass('file-show');
                      };
                      alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" +
                error);
                    }
                });
              } else {
                alert('이미지 업로드 횟수를 초과하셔습니다.');
                $('.files-box').removeClass('file-show');
                $("input[name=uploadfile]")[0].files[0] == null;
                
              }
            });
            $('.btn-no').click(function(){
              $('.files-box').removeClass('file-show');
              alert('파일 전송을 취소하셨습니다.');
            })

            }; //if

            });

         });
      })();
        


        function msgLog(msg){
          if(msg != undefined){
          var conId = $('.conId').val();
          $.ajax({
            url: '/contest/transfer/msgLog/'+ conId,
            data : {msg : msg},
            type : 'POST',
            success : function(rspMsg){
              if(rspMsg.message === "success msgUp"){
                // alert('메세지 로그 저장 성공2');
              }
            },
             error: function (request, status, error) {
              alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
          });
        }
        };

        function imgsLog(imgs){
          if(imgs != undefined){
            
          let conId = $('.conId').val();
          $.ajax({
            url: '/contest/transfer/imgsLog/'+ conId,
            data : {conId : conId, imgs : imgs},
            type : 'POST',
            success : function(rspImgs){
              if(rspImgs.message === "success imageUp"){
                // alert('이미지 로그 저장 성공1');
              }
            },
             error: function (request, status, error) {
              alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
          });
        }
        };

        (function(){
          $(document).ready(function(){
            $('.btn-end').on('click', function(){
              alert("클릭!");
              var endCheck = confirm('콘테스를 종료하시면 취소하실 수 없습니다. \n콘테스트를 종료 하시겠습니까?');
              if(endCheck == true){
                let conId = $('.conId').val();
                let winner1 = $('.winner1').val();
                let award1 = $('.award1').val();

                let winner2 = $('.winner2').val();
                let award2 = $('.award2').val();

                let winner3 = $('.winner3').val();
                let award3 = $('.award3').val();

                 $.ajax({
                  url: '/contest/transfer/contestend/'+ conId,
                  data : {
                    conId : conId, 

                    winner1 : winner1,
                    award1 : award1,

                    winner2 : winner2,
                    award2 : award2,

                    winner3 : winner3,
                    award3 : award3
                    
                    },
                  type : 'POST',
                  success : function(response){
                    if(response.message === "success"){
                      alert('콘테스트가 성공적으로 마무리 되었습니다.\n감사합니다.');
                      window.location.reload()
                    }
                  },
                  error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                  }
                 });
              }else{
                alert('콘테스트 종료를 취소하셨습니다.');
                return false;
              }
            });
          });
        })();
    </script>
</body>
</html>